{% extends 'layout.twig' %}

{% block body %}
  <!-- Left Container -->
  <div id="lcnt">
    {% if flashMessage %}
      <h2>{{flashMessage}}</h2>
    {% endif %}

    <h2>Добавить новую запись</h2>

    <!-- Post Form -->			
    <form id="cmnt_frm" method="post" action="" enctype="multipart/form-data">
      <p><label>Заголовок</label><input type="text" name="header" size="22" tabindex="1" id="header"/></p>
      <p><label>Картинка</label><input type="file" name="file"/></p>
      <p>
        <textarea name="text" cols="75" rows="14" tabindex="4" id="text"></textarea>
      </p>
      <p>
        <input type="submit" name="submit" value="Создать" tabindex="5" id="submit"/>
      </p>
    </form>

  </div>
{% endblock %}
