{% extends 'layout.twig' %}

{% block body %}
  <!-- Left Container -->
  <div id="lcnt">

    <!-- Post -->
    <div class="post">
      
      <!-- Post Details -->
      <div class="post_inf">

        <span>October 13</span><br />
        <span class="posn">Orchida</span><br />
        <a class="posc" href="article.html">3 Comments</a>

      </div>

      <!-- Post Title - Permalink -->
      <h1>
        <a href="article.html">New Banner Free Vector Graphic</a>
      </h1>

      <!-- Post Content -->
      <a class="pic_lnk" href="article.html"><img src="images/post_pic1.jpg" alt="post_pic1" /></a>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis, lectus eu tempor posuere, augue nisi blandit ante, non tempor nibh lorem non ante. Donec mollis vulputate aliquam. Aliquam luctus placerat ipsum sed volutpat. Sed rhoncus, odio nec iaculis faucibus, felis risus pulvinar leo, sed suscipit ipsum sapien vel arcu. Nullam ac varius nisi. Duis pulvinar, dolor et dignissim porta, nunc risus laoreet tellus, pellentesque consectetur nibh dui sit amet purus. Curabitur a mauris sapien, a tempus justo. Nunc aliquam vehicula dapibus. Ut nec nulla nunc, vel adipiscing libero. Nam suscipit orci ac est blandit volutpat. Phasellus dignissim velit vitae mauris sodales lacinia mollis magna vulputate. Phasellus aliquam est eros, nec pharetra risus. Suspendisse dictum nunc eget lectus sodales lobortis. Aenean scelerisque suscipit tempor. Sed viverra sollicitudin mauris sit amet pulvinar.</p>

    </div>

    <!-- Post -->
    <div class="post">

      <!-- Post Details -->
      <div class="post_inf">

        <span>October 13</span><br />
        <span class="posn">Orchida</span><br />
        <span class="posc">6 Comments</span>

      </div>

      <!-- Post Title - Permalink -->
      <h1>
        <a href="#">Decorative Frame Free Vector Graphic</a>
      </h1>

      <!-- Post Content -->
      <img src="images/post_pic2.jpg" alt="post_pic2" />

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis, lectus eu tempor posuere, augue nisi blandit ante, non tempor nibh lorem non ante. Donec mollis vulputate aliquam. Aliquam luctus placerat ipsum sed volutpat. Sed rhoncus, odio nec iaculis faucibus, felis risus pulvinar leo, sed suscipit ipsum sapien vel arcu. Nullam ac varius nisi. Duis pulvinar, dolor et dignissim porta, nunc risus laoreet tellus, pellentesque consectetur nibh dui sit amet purus. Curabitur a mauris sapien, a tempus justo. Nunc aliquam vehicula dapibus. Ut nec nulla nunc, vel adipiscing libero. Nam suscipit orci ac est blandit volutpat. Phasellus dignissim velit vitae mauris sodales lacinia mollis magna vulputate. Phasellus aliquam est eros, nec pharetra risus. Suspendisse dictum nunc eget lectus sodales lobortis. Aenean scelerisque suscipit tempor. Sed viverra sollicitudin mauris sit amet pulvinar.</p>

    </div>

    <!-- Post -->
    <div class="post">

      <!-- Post Details -->
      <div class="post_inf">

        <span>October 13</span><br />
        <span class="posn">Orchida</span><br />
        <span class="posc">6 Comments</span>

      </div>

      <!-- Post Title - Permalink -->
      <h1>
        <a href="#">Grungy Landscape Free Vector Graphic</a>
      </h1>

      <!-- Post Content -->
      <img src="images/post_pic3.jpg" alt="post_pic3" />

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum facilisis, lectus eu tempor posuere, augue nisi blandit ante, non tempor nibh lorem non ante. Donec mollis vulputate aliquam. Aliquam luctus placerat ipsum sed volutpat. Sed rhoncus, odio nec iaculis faucibus, felis risus pulvinar leo, sed suscipit ipsum sapien vel arcu. Nullam ac varius nisi. Duis pulvinar, dolor et dignissim porta, nunc risus laoreet tellus, pellentesque consectetur nibh dui sit amet purus. Curabitur a mauris sapien, a tempus justo. Nunc aliquam vehicula dapibus. Ut nec nulla nunc, vel adipiscing libero. Nam suscipit orci ac est blandit volutpat. Phasellus dignissim velit vitae mauris sodales lacinia mollis magna vulputate. Phasellus aliquam est eros, nec pharetra risus. Suspendisse dictum nunc eget lectus sodales lobortis. Aenean scelerisque suscipit tempor. Sed viverra sollicitudin mauris sit amet pulvinar.</p>


    </div>

    <!-- Pagination -->	
    <div class="pagination">				

      <span class="prev">&laquo;Previous</span>
      <span class="act">1</span>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a class="next" href="#">Next&raquo;</a>

    </div>

  </div>
{% endblock %}
