{% extends 'layout.twig' %}

{% block body %}
  <!-- Left Container -->
  <div id="lcnt">
    {% if flashMessage %}
      <h2>{{flashMessage}}</h2>
    {% endif %}

    <h2>Регистрация</h2>

    <!-- Auth Form -->			
    <form id="cmnt_frm" method="post" action="/users">
      <p><label>Login</label><input type="text" name="username"/></p>
      <p><label>Password</label><input type="password" name="password"/></p>
      <p><label>E-mail</label><input type="text" name="email"/></p>
      <p>
        <input type="submit" name="submit" value="Зарегистрироваться" tabindex="5" id="submit"/>
      </p>
    </form>

  </div>
{% endblock %}
